cmMarketMaking/cmMarketMaking/Debug/
cmMarketMaking/cmMarketMaking/*.con
cmMarketMaking/Debug/
cmMarketMaking/cmMarketMaking.v12.suo
cmMarketMaking/cmMarketMaking/cmMarketMaking.vcxproj
cmMarketMaking/cmMarketMaking/cmMarketMaking.vcxproj.filters
